/* Main Hedaer */
*
{
    margin: 0;
    padding: 0;
}


.navbar-style
{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
}

.logo{
    height: 100px;
    padding: 2px 10px;
    /* margin-left: -30px; */
}

.icon-bar
{
   background-color: rgb(2, 2, 67); 
}

li a
{
    color: rgb(2, 2, 67);
    margin-top: 30px;
}

.navbarsearch
{
    margin-left: 50px;
    margin-top: 30px;
    width: 400px;
}

/* Second Navbar */
.height
{
    height: 8vh;
}

.navsecond
{
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
    color: rgb(3, 3, 35);
}


.list
{
    box-shadow: 0 5px 10px lightgray;
}

hr
{
    background-color: rgb(3, 3, 35);
    color: rgb(3, 3, 35);
    height: 10px;
}

/* footer */

/* .container{
	max-width: 100%;
	margin:auto;
    height: 100px;
} */
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(3, 3, 35);
    padding: 10px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 15px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 100;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: -30px;
}
.footer-col ul li a{
	font-size: 12px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 100;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 4px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: rgb(3, 3, 35);
	background-color: #ffffff;
}

/* Coupon */
#coupon{
    height:400px;
    width:600px;
    background-color:gray;
    z-index:100;
    margin-left:26%;
    visibility: hidden;
    position: absolute;
    margin-top: -50%;
	background-image: url(/images/cake-offers.jpg);
	background-repeat: no-repeat;
    background-size: 100% 400px;

	